@font-face {
  font-family: tauFont;
  src: url(assets/Tau-mmP2.ttf);
}

:root {
  --dark-color: #171400;
  --main-ochre: #f7d60d;
  --ochre-accent: #d5b807;
  --white-color: #fefbeb;
  --dark-text-color: #372f01;
  --light-card-color: #fbefa4;
  --link-color: rgb(231, 14, 14);
  --hover-link-color: rgb(228, 214, 214);
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--dark-color);
  color: var(--white-color);
  height: 100%;
  overflow: hidden;
}

.nav-bar {
  width: 100%;
  background-color: var(--main-ochre);
  height: 5em;
  box-shadow: 0em 0.25em var(--white-color);
  color: var(--dark-text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
}
main {
  padding: 1em;
  text-align: center;
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
}

#bottom-bar {
  margin: 0;
  width: 100%;
  padding: 0.5em;
  display: flex;
  background-color: var(--main-ochre);
  color: var(--dark-text-color);
  list-style: none;
  height: 2em;
  justify-items: center;
  align-items: center;
  border-top-style: solid;
  border-top-color: var(--white-color);
  border-width: 0.25em;
  justify-content: space-evenly;
}

#bottom-bar a {
  text-decoration: none;
  transition: 0.5s;
  color: var(--dark-text-color);
}

#bottom-bar a:hover {
  color: #fefbeb;
  font-size: larger;
}

#spacer {
  height: 3.5em;
}

#plus-icon {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  width: 5em;
  border-radius: 5em;
  height: 5em;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
  border-style: solid;
  border-color: var(--white-color);
  font-size: large;
}

#plus-icon:hover {
  background-color: var(--dark-text-color);
}

.tau-font-decor {
  font-family: tauFont;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#homeButton {
  text-decoration: none;
  color: var(--dark-text-color);
}

.listViewer {
  display: flex;
  margin: 1.5em;
  border-style: solid;
  border-radius: 0.7em;
  background-color: var(--ochre-accent);
  color: var(--dark-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-color);
}

.viewMore {
  border-radius: 0.5em;
  width: 6em;
  height: 6em;
  margin-left: auto;
  transition: 0.5s;
  background-color: var(--link-color);
}

.viewMore:hover {
  background-color: rgb(19, 171, 173);
  color: rgb(27, 222, 226);
  cursor: pointer;
}

.listText {
  margin-left: 2em;
  font-size: larger;
  font-weight: bolder;
}

#examplePlus {
  font-size: 12px;
}

#welcomeHeader {
  padding-top: 0.5em;
}

.listModels {
  overflow: auto;
  background-color: var(--white-color);
  border-radius: 0.5em;
}

.titleDiv {
  display: flex;
  width: 100%;
  border-radius: .5em;
  background-color: var(--white-color);
  border-bottom-color: var(--dark-color);
  border-bottom-style: solid;
}

.pointsDescription {
  background-color: white;
  border-radius: 0.5em;
  margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.setting {
  display: flex;
  padding-top: 1em;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: .5px;
}

.downloads {
  display: flex;
  flex-direction: column;
  padding-top: .5em;
}

.downloadLink {
  color: var(--link-color);
  transition: .5s;
  border-style: solid;
  border-radius: .5em;
  margin: .5em;
  text-decoration: none;
  background-color: var(--white-color);
}

.downloadLink:hover {
  color: var(--hover-link-color);
  cursor: pointer;
  background-color: var(--link-color);
}

#titleHeader {
  font-size: larger;
  margin-top: 1em;
  border-bottom-style: solid;
  padding: .5em;
}

#rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ruleCard {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  width: 80%;
  border-bottom-style: solid;
  border-radius: .75em;
  background-color: var(--white-color);
  color: var(--dark-color);
  margin-top: 1.5em;
  align-items: center;
  padding-left: 2em;
  border-bottom-color: var(--dark-color);
  border-bottom-style: solid;
}

.listDetails p:nth-child(odd) {
  background-color: var(--main-ochre);
  color: var(--dark-text-color);
  border-style: solid;
  border-color: var(--dark-color);
}

.listDetails p:nth-child(even) {
  border-style: solid;
  border-color: var(--dark-color);
  background-color: var(--dark-text-color);
  color: var(--white-color);
}

.listDetails {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: .5em;
  border-style: solid;
}

.listDetails p {
  margin: .05em;
}

#return {
  text-align: center;
  padding: .5em;
  background-color: var(--main-ochre);
  box-shadow: 0em .25em var(--ochre-accent);
  margin-bottom: .5em;
  color: var(--white-color);
  text-decoration: none;
  transition: .5s;
}

#return:hover {
  color: var(--link-color);
}

#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20em;
  border-style: solid;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--main-ochre);
}

.listModels {
  color: var(--dark-text-color);
  border-color: var(--dark-color);
  border-style: solid;
  margin: .5em;
}

#selectedModels {
  overflow: auto;
  max-height: 20em;
  border-style: solid;
  border-color: var(--dark-text-color);
  padding: 1em;
}

.modelImage {
  width: 15em;
  border-radius: 1em;
  border-style: solid;
  background-color: var(--white-color);
  border-color: var(--dark-color);
}