@font-face {
    font-family: tauFont;
    src: url(assets/Tau-mmP2.ttf);
}

:root {
    --dark-color: #171400;
    --main-ochre: #f7d60d;
    --ochre-accent: #d5b807;
    --white-color: #fefbeb;
    --dark-text-color: #372f01;
    --light-card-color: #fbefa4;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--dark-color);
    color: var(--white-color);
}

.nav-bar {
    position: fixed;width: 100%;
    background-color: var(--main-ochre);
    height: 5em;
    box-shadow: 0em .25em var(--white-color);
    color: var(--dark-text-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
}
main {
    padding: 1em;
    text-align: center;
}

#bottom-bar {
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .5em;
    display: flex;
    background-color: var(--main-ochre);
    color: var(--dark-text-color);
    list-style: none;
    height: 2em;
    justify-items: center;
    align-items: center;
    border-top-style: solid;
    border-top-color: var(--white-color);
    border-width: .25em;
    justify-content: space-evenly;
}

#bottom-bar a {
    text-decoration: none;
    transition: .5s;
    color: var(--dark-text-color);
}

#bottom-bar a:hover {
    color: #fefbeb;
    font-size: larger;
}

#spacer {
    height: 3.5em;
}

#plus-icon {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    width: 5em;
    border-radius: 5em;
    height: 5em;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
    border-style: solid;
    border-color: var(--white-color);
    font-size: large;
}

#plus-icon:hover {
    background-color: var(--dark-text-color);
}

.tau-font-decor {
    font-family: tauFont;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#homeButton {
    text-decoration: none;
    color: var(--dark-text-color);
}

.listViewer {
    display: flex;
    margin: 1.5em;
    border-style: solid;
    border-radius: .7em;
    background-color: var(--ochre-accent);
    color: var(--dark-color);
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.viewMore {
    border-radius: .5em;
    width: 5em;
    height: 5em;
    margin-left: auto;
    transition: .5s;
    background-color: var(--main-ochre);
}

.viewMore:hover {
    background-color: rgb(19, 171, 173);
    color: rgb(27, 222, 226);
}

.listText {
    margin-left: 2em;
    font-size: larger;
    font-weight: bolder;
}

#examplePlus {
    font-size: 12px;
}

#welcomeHeader {
    padding-top: .5em;
}

.listModels {
    overflow: auto;
    background-color: var(--white-color);
    border-radius: .5em;
}

.titleDiv {
    display: flex;
    width: 100%;
    border-bottom-style: solid;
    border-radius: .5em;
    background-color: var(--white-color);
}

.pointsDescription {
    background-color: white;
    border-radius: .5em;
}